.score-box {
    width: 2em;
    height: 2em;
}

.ability {
    min-height: 3em;
    margin-bottom: 1.5em;

    .head {
        border-bottom: 1px solid black;

        .head-size {
            position: relative;
            height: 1.7em;
            width: 1px;
            left: 0;
        }

        .float-right {
            margin-right: 0.5em;
            &:last-of-type {
                margin-right: 1.5em;
            }
        }
        .float-left {
            margin-left: 0.5em;
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .body {
        ul {
            margin-top: 1em;
            list-style-type: none;
            li {
                margin-left: 3em;
                margin-bottom: 0.5em;
                border-bottom: 1px solid lightgray;
                &::after {
                    content: "";
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    background-color: white;
                    border-radius: 50%;
                    border: 2px solid black;
                    vertical-align: middle;
                    float: right;
                    margin-right: 0.5em;
                }
            }
        }
    }
}