.equipment {
    border: 2px solid black;
    margin-top: 0.5em;
    margin-left: 1em;
    position: relative;

    .money {
        &:first-of-type {
            margin-top: -2px;
        }
        width: 4em;
        font-size: 9pt;
        margin-bottom: 3px;
        margin-left: -1em;
        position: relative;
        height: 1.75em;

        span {
            display: block;
            position: absolute;
            right: 0.3em;
            color: rgba(0,0,0,0.6);
        }
    }
    .weapon, .armor, .shield {
        height: 1.75em;
        position: relative;
        bottom: 0;
        border: 1px solid lightgray;
        span {
            display: block;
            position: absolute;
            right: 0.3em;
            color: rgba(0,0,0,0.6);
        }
    }
}